# Django
db.sqlite3
staticfiles/
media/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
my-venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.renv
*.mpy

# Project specific temporary folders
Listes_Types/t/
Listes_Types/temp/
FSCFAI_Compare/temp/
FSCFAI_Compare/debug_mode.txt
Listing_Devices/temp/
Extraction_SM/temp/
Extraction_VIN/temp/

# Environments
.env
.venv
env/
venv/
ENV/
.gitignore

# OS
.DS_Store
Thumbs.db

